.main-sidebar
	.logo
		img(src="", alt="")
	.search
		input(type="text")
	ul.main-sidebar__nav
		li
			a(href="") 
				img(src="", alt="")
				span Мягкая мебель
		li
			a(href="") 
				img(src="", alt="")
				span Шкафы
		li
			a(href="") 
				img(src="", alt="")
				span Кухонная мебель
		li
			a(href="") 
				img(src="", alt="")
				span Аксессуары для кухонь
		li
			a(href="") 
				img(src="", alt="")
				span Спальни
		li
			a(href="") 
				img(src="", alt="")
				span Гостиные
		li
			a(href="") 
				img(src="", alt="")
				span Детские
		li
			a(href="") 
				img(src="", alt="")
				span Прихожие
		li
			a(href="") 
				img(src="", alt="")
				span Столы и стулья
		li
			a(href="") 
				img(src="", alt="")
				span Стеллажи и полки
		li
			a(href="") 
				img(src="", alt="")
				span Офисная мебель
		li
			a(href="") 
				img(src="", alt="")
				span Средства по уходу замебелью