doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.main-wrapper
			include modules/header.pug

			main
				.main-content
					//- main-sidebar
					include modules/main-sidebar.pug
					.index-content
						







		//- include modules/footer.pug
		//- include modules/menu-mobile.pug
		//- include modules/script.pug